<%= render 'homes/first_page'%>
<h1>Single student</h1>

<div>
    <strong>Name:</strong> <%= @student.name %> <br>
    <strong>Email:</strong> <%= @student.email %> <br>
    <strong>Address:</strong> <%= @student.address%> <br>
    <strong>Phone Number:</strong> <%= @student.phone %> <br>
</div>

<br>
<%= link_to 'Back', students_path %> |
<%= link_to 'Edit', edit_student_path %>